.checkoutProductCard {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--brown);
    background-color: var(--cream);
    align-items: start;
    justify-content: start;
}

.productImage {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.productInfo {
    flex: 1;
}

.productName {
    font-size: 1.2rem;
    font-weight: bold;
}

.productImage h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
}