/* fading out */
.cartPreview {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.cartPreview.fadeOut {
  opacity: 0;
}
.modalBackdrop {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
}
.modalContent {
  position: absolute;
  top: 120px;
  left: 65%;
  background-color: white;
  border-radius: 8px;
  width: 300px;
  z-index: 10;
}
.heading {
  display: flex;
  justify-content: space-between;
  background-color: var( --pink);
  border-radius: 8px;
  align-items: center;
  padding-left: 2rem;
  height: 60px;
}
/* triangle */
.heading::after {
  content: '';
  position: absolute;
  top: -10px; 
  left: 80%; 
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--pink); 
}

.closeButton {
  background: none;
  font-size: 24px;
  cursor: pointer;
}
.items {
  margin: 0 2rem;
}
.singleItem {
  border-bottom: 1px solid var(--brown);
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.singleItem img {
  width: 70px;
  height: 70px;
}
.info {
  flex: 1;
}
.subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkoutButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
.checkoutButton {
  border-radius: 20px;
  border: 5px solid var(--mint);
  background: var(--mint);
  text-decoration: none;
  color: var(--brown);
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.cartProductText {
  font-weight: bold;
}

.subtotalText {
  font-size: 18px;
}

.checkoutBtn {
  margin-left: 58.5rem;
  margin-bottom: 5rem;
}

/* Tablet (768x1024) */
@media screen and (max-width: 1024px) {
  .modalContent {
    left: 55%;
  }
}
/* Mobile (360x800) */
@media screen and (max-width: 767px) {
  .modalContent {
    width: 250px;
    top: 70px;
    left: 30%;
  }
  .heading {
    border-radius: 5px;
    padding-left: 1rem;
    height: 40px;
  }
  .closeButton {
    font-size: 16px;
  }
  .items {
    margin: 0 1rem;
  }
  .items p {
    font-size: 12px;
    height: 10px;
  }
  .singleItem img {
    width: 35px;
    height: 35px;
  }
}
/* Extra small screens */
@media screen and (max-width: 359px) {
  .modalBackdrop {
    top: 50px;
  }
  .modalContent {
    position: static;
  }
}