.aboutUsContainer {
    background-color: #FBF4EF;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 20px;
    margin-bottom: 6rem;
}


.aboutUsH1 {
    text-align: center;
    color: var(--brown);
    margin-top: 8rem;
}

.aboutUsH2 {
    text-align: center;
    color: var(--brown);
}

hr {
    height: 1px;
    width: 20%;
    color: var(--brown);
    background-color: var(--brown);
    margin-bottom: 2.5rem;
}

.aboutUsImg {
    border-radius: 20px;
    margin-top: 5%;
}

.aboutUsParr { 
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--brown);
    font-family: 'Arimo', sans-serif;
}