.cartH2 {
    font-family: "Noto Serif", serif;
    margin-left: 10rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.listContainer {
    margin-bottom: 5rem;
}

.itemList {
    display: flex;
    background-color: var(--cream);
    border: var(--brown) solid 1px;
    margin-left: 5rem;
    margin-right: 5rem;
    align-items: center;
    justify-content: space-between;
}

.donutImg {
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cookieName {
    font-family: 'Arimo', sans-serif;;
}

.priceRemove {
    text-align: center;
}

.totalContainer {
    text-align: right;
    margin-right: 5rem;
}

.totalH2 {
    font-family: "Noto Serif", serif;
}

.checkoutBtn {
    width: ;
}