.cartH2 {
    font-family: "Noto Serif", serif;
    margin-left: 10rem;
}

.listContainer {
    margin-bottom: 5rem;
}

.itemList {
    d
    background-color: var(--cream);
    border: var(--brown) solid 1px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.donutImg {
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cookieName {
    font-family: 'Arimo', sans-serif;;
}