.cartH2 {
    font-family: "Noto Serif", serif;
    margin-left: 5rem;
}

.itemList {
    background-color: var(--cream);
    border: var(--brown) solid 1px;
    margin-left: 1rem;
    margin-right: 1rem;
}