.contactUsContainer {
    text-align: center;
}
.contactUsCardContainer {
    display: flex;
    gap: 10%;
    justify-content: center;
}

.locationOne { 
    display: flex;
}

.contactUsText {
    text-align: left;
    padding-left: 20px;
}

.contactUsCard {
    background-color: var(--cream);
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
    margin-bottom: 5rem;
}