.contactUsContainer {
    text-align: center;
}

.locationOne { 
    display: flex;
}

.contactUsText {
    text-align: left;
    padding-left: 20px;
}

.contactUsCard {
    background-color: var(--cream);
    width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-bottom: 5rem;
}