.contactUsContainer {
    display:block;
    align-items: center;
}
.locationOne { 
    display: flex;
}

.contactUsCard {
    background-color: var(--cream);
    width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
}