.homeContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.homeBanner {
    width: 100%; 
    max-width: 1440px; 
    height: auto; 
}

/* About Us Page */
.aboutUsContainer {
    background-color: #FBF4EF;
    margin-left: 5rem;
    margin-right: 5rem;
}
.aboutUsParrContainer {
    margin-bottom: ;
}

.aboutUsH1 {
    text-align: center;
    color: rgba(101, 80, 48, 1);
}

.aboutUsH2 {
    text-align: center;
    color: rgba(101, 80, 48, 1);
}

hr {
    height: 1px;
    width: 20%;
    background-color: rgba(101, 80, 48, 1);
    border: none;
}

.aboutUsImg {
    border-radius: 20px;
    margin-top: 5%;
}

.aboutUsParr { 
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

/* Cart */


/* Checkout */


/* Menu */


/* Order */


/* Product Details */

