.homeContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.homeBanner {
    width: 100%; 
    max-width: 1440px; 
    height: auto; 
}

/* About Us Page */
.aboutUsImg {
    display: ;
    align-content: center;
}

/* Cart */


/* Checkout */


/* Menu */


/* Order */


/* Product Details */

