.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin: 0 auto;      
}
.innerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    width: 80%;
    cur
}
.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--cream);
    width: 80%;
    height: 160px;
}
.category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.sectionTitle {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    background-color: var(--mint);
}
#bringToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0;
    position: fixed; 
    right: 4rem;
    bottom: 10rem;
    background-color: transparent;
}

/* tablet */
@media screen and (max-width: 1024px) {
    .innerContainer {
        width: 100%;
        margin: 0 16px 32px;
    }
    .categories {
        flex-direction: column;
        gap: 1rem;
    }
    .category img {
        width: 36px;
        height: 36px;
    }
    #bringToTop {
        width: 52px;
        height: 52px;
        position: fixed; 
        right: 1rem;
        bottom: 2rem;
    }
}
/* mobile */
@media screen and (max-width: 768px) {
    .sectionTitle {
        width: 100%;
        margin: 1rem 0;
    }
}