.form {
    justify-content: left;
    text-align: left;
}
.formPlaceholdersName {
    display: flex;
}

.contactFormContainer {
    text-align: center;
}

.nameFieldContainer {
    display: flex;
    justify-content: center;
}

form {}