.form {
    justify-content: left;
    text-align: left;
}
.formPlaceholdersName {
    display: flex;
}

.contactFormContainer {
    text-align: center;
}

.nameFieldContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.formPlaceholders {
 padding-bottom: 15px;
}

.inputWidth{
    width: 170px;
    border-radius: 10px;
}

.emailPlaceholder {
    width: 388px;
    border-radius: 10px;
}

.messagePlaceholder {
    width: 415px;
    max-width: 415px;
    min-width: 415px;
    height: 200px;
    min-height: 200px;
    max-height: 250px;
    border-radius: 10px;
    border-color: none;
    background-color: var(--cream);
}

form {
    background-color: var(--mint);
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    padding-top: 10px;
    border-radius: 20px;
}

.submitBtn {
    padding-bottom: 10%;
}