.form {
    justify-content: left;
    text-align: left;
}
.formPlaceholdersName {
    display: flex;
}

.contactFormContainer {
    text-align: center;
}

.nameFieldContainer {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-top: 15px;
}

.inputWidth{
    width: 1;
}

form {
    background-color: var(--mint);
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    padding-top: 10px;
}