.submitBtn {
    background-color: var(--cream);
    color: var(--brown);
    width:  200px;
    height: 50px;
}

.btnH2 {
    font-family: "Noto Serif", serif;
}

.submitBtn:hover {
    background-color: var(--brown);
    color: var(--cream);
}

.btnH2:hover {
    color: var(--cream);
    font-family: "Noto Serif", serif;
}

. {
    padding-bottom: 10px;
}