button {
    background-color: var(--cream);
    color: var(--brown);
    width: 300px;
}

button:hover {
    background-color: var(--brown);
    color: var(--cream);
}

h2:hover {
    color: var(--cream);
}

div {
    padding-bottom: 10px;
}