.aboutUsContainer {
    background-color: #FBF4EF;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 20px;
    margin-bottom: 6rem;
}

.aboutUsH1 {
    text-align: center;
    color: var(--brown);
    margin-top: 8rem;
}

.aboutUsH2 {
    text-align: center;
    color: var(--brown);
}

hr {
    height: .2px;
    width: 20%;
    border: solid var(--brown);
    background-color: var(--brown);
    border-radius: 5px;
    margin-bottom: 2.5rem;
}

.aboutUsImg {
    border-radius: 20px;
    margin-top: 5%;
}

.aboutUsParr { 
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--brown);
    font-family: 'Arimo', sans-serif;
}


/* Responsiveness for tablet */
@media (max-width: 1024px) {
    .aboutUsH1{
        margin-top: 3rem;
    }

    .aboutUsImg {
        border-radius: 20px;
        margin-top: 5%;
        width: 580px;
        height: 300px;
    }

    .aboutUsParr { 
        font-size: 16px;
    }
}

/* Responsiveness for mobile */
@media (max-width: 768px) {
    .aboutUsH1{
        margin-top: 3rem;
    }

    .aboutUsImg {
        border-radius: 20px;
        margin-top: 5%;
        width: 350px;
        height: 190px;
    }

    .aboutUsParr { 
        font-size: 12px;
    }
}
