.aboutUsContainer {
    background-color: #FBF4EF;
    margin: 0 10rem 6rem;
    border-radius: 20px;
}

.aboutUsH1 {
    text-align: center;
    color: var(--brown);
    margin-top: 4rem;
}

.aboutUsH2 {
    text-align: center;
    color: var(--brown);
}

hr {
    height: .2px;
    width: 20%;
    border: solid var(--brown);
    background-color: var(--brown);
    border-radius: 5px;
    margin-bottom: 2.5rem;
}

.aboutUsImg {
    border-radius: 20px;
    margin-top: 5%;
    width: 80%;
}

.aboutUsParr { 
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--brown);
    font-family: 'Arimo', sans-serif;
}


/* Responsiveness for tablet */
@media (max-width: 1024px) {
    .aboutUsContainer {
        margin: 0 4rem 4rem;
    }

    .aboutUsH1{
        margin-top: 3rem;
    }

    .aboutUsParr { 
        font-size: 16px;
    }
}

/* Responsiveness for mobile */
@media (max-width: 768px) {
    .aboutUsContainer {
        margin: 0 1rem 1rem;
    }

    .aboutUsH1{
        margin-top: 3rem;
    }

    .aboutUsParr { 
        font-size: 12px;
    }
}
