.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin: 0 auto;      
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    margin: 2rem auto;
}
.heading h1 {
    margin: 0;
}
.searchBar {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.searchBar input {
    width: 200px;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid var(--cream);
    border-radius: 5px;
}
input::placeholder {
    color: #6C7072;
}
.searchBar img {
    margin: 1rem;
}
.innerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    width: 80%;
}
.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--cream);
    width: 80%;
    height: 160px;
}
.category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.sectionTitle {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    background-color: var(--mint);
}
.showMoreButton {
    width: 300px;
    height: 72px;
    border-radius: 20px;
    background: var(--cream);
    font-family: "Noto Serif";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}
#bringToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0;
    position: fixed; 
    right: 3rem;
    bottom: 3rem;
    background-color: transparent;
}

/* tablet */
@media screen and (max-width: 1024px) {
    .heading {
        flex-direction: column;
    }
    .searchBar {
        position: inherit;
        margin-top: 20px;
    }
    .innerContainer {
        width: 100%;
        margin: 0 16px 32px;
    }
    .categories { 
        display: flex;  /*changed the flex-direction: column, to display: flex; */
        gap: 4rem; /* added more rem*/
        width: 50%; /* modified/fixed */
        height: 110px; /* modified/fixed  */
    }

    .category {
        gap: 5px; /* this puts the icons with the text a bit closer */
    }

    .category img {
        width: 36px;
        height: 36px;
    }
    #bringToTop {
        width: 52px;
        height: 52px;
        position: fixed; 
        right: 1rem;
        bottom: 2rem;
    }

    /* added to make the view less and more button look smaller */
    .showMoreButton {
        width: 160px;
        height: 55px;
        font-size: 20px;
        font-weight: 700;
    }
}
/* mobile */
@media screen and (max-width: 768px) {
    .sectionTitle {
        width: 100%;
        margin: 1rem 0;
    }

    .categories { 
        width: 60%; /* modified/fixed */
        height: 110px; /* modified/fixed */
    }

    /* added to make the view less and more button look smaller */
    .showMoreButton {
        width: 150px;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
    }
}