.productDetailsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6rem; 
    padding: 5rem;
    background-color: var(--cream);
    border-radius: 10px;
    margin: 30px auto;
    width: 70%;
    max-width: 1200px;
    font-family: "Arimo", sans-serif;
}

.productDetailsImageContainer {
    flex: 1;
}

.productDetailsImage {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    object-fit: contain;  
}

.productDetailsInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.productDetailsInfo h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--brown);
}

.productDetailsInfo p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--brown);
}

/* Quantity section */
.quantitySection {
    margin-bottom: 20px;
}

.quantitySelector {
    display: flex;
    align-items: center;
}

.quantitySelector button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2rem;
}

.quantitySelector span {
    font-size: 1.4rem;
    color: var(--brown);
}

.customMintButton {
    width: 30%;
    font-family: "Noto Serif", sans-serif;
}



/* Tablet styles */
@media (max-width: 1024px) {
    .productDetailsContainer {
        flex-direction: column; 
        align-items: center; 
        gap: 3rem; 
        padding: 3rem; 
    }

    .productDetailsImageContainer {
        width: 100%; 
        text-align: center; 
    }

    .productDetailsImage {
        max-width: 300px; 
    }

    .productDetailsInfo {
        width: 100%; 
        text-align: center; 
    }

    .productDetailsInfo h1 {
        font-size: 1.8rem; 
    }

    .productDetailsInfo p {
        font-size: 1rem; 
        text-align: left;
    }

    .quantitySection {
        margin-bottom: 15px;
        display: flex;
        justify-content: center; 
    }

    .quantitySelector button {
        font-size: 1.8rem; 
    }

    .quantitySelector span {
        font-size: 1.2rem; 
    }
}


/* Mobile styles */
@media (max-width: 768px) {
    .productDetailsContainer {
        padding: 2rem; 
        gap: 0.7rem;
    }

    .productDetailsImageContainer {
        text-align: center; 
    }

    .productDetailsImage {
        max-width: 250px; 
    }

    .productDetailsInfo {
        display: flex;
        align-items: center;
    }

    .productDetailsInfo h1 {
        font-size: 1.5rem; 
    }

    .productDetailsInfo p {
        font-size: 0.9rem; 
    }

    .quantitySection {
        margin-bottom: 15px;
        display: flex;
        justify-content: center; 
    }

    .quantitySelector button {
        padding: 4px 8px; 
        font-size: 1.6rem; 
    }

    .quantitySelector span {
        font-size: 1rem; 
    }
}
