.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.heading {
  display: flex;
  justify-content: space-between;
  background-color: var( --pink);
  border-radius: 8px;
  align-items: center;
  padding-left: 2rem;

}/* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var( --pink);
  padding-left: 2rem;
  border-radius: 8px; */
.closeButton {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}
.modalContent {
  position: relative;
  top: 100px;
  left: 60%;
  background-color: white;
  border-radius: 8px;
  width: 300px;
  z-index: 10;
  position: relative;
}
.items {
  margin: 2rem 0;
  padding: 0 2rem;
}
.singleItem {
  border-bottom: 1px solid var(--brown);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.singleItem img {
  width: 70px;
  height: 70px;
}
.info {
  flex: 1;
}
.subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkoutButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
.checkoutButton {
  border-radius: 20px;
  border: 5px solid var(--mint);
  background: var(--mint);
  text-decoration: none;
  color: var(--brown);
}