.nav {
    height: 160px;
    background-color: var(--mint);
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin: auto;
    font-family: "Arimo";
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    width: 100%;
    max-width: 1440px;
    padding: 0 2rem;
    position: relative;
}

.desktopNavLeft,
.desktopNavRight {
    display: flex;
    gap: 4rem;
}

.desktopNavLeft a,
.desktopNavRight a {
    text-decoration: none;
    color: var(--brown);
    margin: 0 1rem;
}

.logoContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 122px;
    height: 122px;
    object-fit: contain;
}

.cartContainer {
    position: absolute;
    right: 2rem;
}

.cartIcon {
    width: 36px;
    height: auto;
}

.cartBadge {
    background-color: var(--pink);
    padding: 1px 5px;
    border-radius: 50%;
    border: 0.5px solid var(--brown);
    font-size: 12px;
    position: absolute;
    top: -8px;
    right: -8px;
}

.activeLink {
    text-decoration: underline;
    color: var(--brown);
}

.hamburgerContainer {
    display: none;
}

.mobileNavList {
    display: none;
}

@media screen and (max-width: 1024px) {

    .navContainer {
        padding: 1rem 0;
    }


    .desktopNavLeft,
    .desktopNavRight,
    .desktopNavLeft a,
    .desktopNavRight a {
        display: none;
    }

    .nav {
        height: 120px;
    }

    .logoContainer {
        position: static;
        transform: none;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo {
        width: 90px;
        height: 90px;
    }

    .hamburgerContainer {
        display: block;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
    }

    .hamburgerIcon {
        width: 30px;
        height: auto;
        color: var(--brown);
    }

    .cartContainer {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .mobileNavList {
        display: none;
    }

    .mobileNavList.mobileMenuOpen {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--mint);
        z-index: 10;
        padding: 0;
        animation: slideDown 0.3s ease;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .mobileNavList .navItem {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    .navItem a {
        text-decoration: none;
        color: var(--brown);
    }
}

@media screen and (max-width: 767px) {
    .nav {
        height: auto;
    }

    .logo {
        width: 70px;
        height: 70px;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}