.footer {
    background-color: var(--mint); 
    padding: 2rem;
    color: var(--brown);
    flex-shrink: 0;          
    margin: auto;
    font-family: "Arimo", sans-serif;
}

.topContainer {
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: space-between;
    gap: 4rem;
}

.footerBottomContainer {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.newsletterSignup {
    display: flex;
    align-items: center;
}

.newsletterSignup input {
    padding: 20px;
    width: 20vw;
    border: 1px solid #ccc;
    background-color: var(--cream);
    border-radius: 10px;
}

.signupButton {
    width: 10vw;
    padding: 20px; 
    margin-left: 15px; 
    background-color: var(--cream); 
    color: var(--brown); 
    font-weight: bold;
    border: none; 
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLinks {
    margin: 20px 0; 
    display: flex;
    font-size: large;
}

.linkList a {
    color: var(--brown);
    list-style-type: none; 
    text-decoration: none;
}

.linkList li {
    text-decoration: none;
    display: inline; 
    margin: 0 30px; 
}

.socialMedia img {
    /* width: 250px; */
    height: auto; 
}

/* Tablet Styles */
@media only screen and (max-width: 1024px) {
    .footer {
        width: 100%; 
        padding: 1rem 0 2rem 0;
    }

    .footer h2 {
        text-align: center;
    }

    .topContainer {
        flex-direction: column;
        gap: 2rem; 
    }

    .footerBottomContainer {
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin-top: -1rem;
        font-size: smaller;
    }

    .newsletterSignup {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .newsletterSignup input {
        width: 30vw; 
    }

    /* added padding so that it doesnt look squished */
    .signUpMessage {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .signupButton {
        width: 15vw; 
    }

    .footerLinks {
        font-size: medium; 
    }

    .footerLinks ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .linkList li {
        display: block;
        margin: 10px 0;
    }

    .socialMedia img {
        width: 200px !important;
        margin-top: 1rem;
    }
}

/* Phone styles */
@media only screen and (max-width: 800px) {
    .footer {
        width: 100vw; 
    }

    .signUpMessage {
        padding-top: 1rem;
    }

    .topContainer {
        flex-direction: column;
        gap: 1rem; 
        padding: 1rem;
    }

    .footerBottomContainer {
        font-size: small;
    }

    .newsletterSignup input {
        width: 30%; 
        padding: 10px; 
    }

    .signupButton {
        width: 30%;
    }

    .footerLinks {
        flex-direction: column;
        font-size: small; 
    }
}
