@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --mint: #CEDEDC;
    --cream: #FBF4EF;
    --pink: #F5CCD6;
    --dark-pink: #E3BBC5;
    --brown: #655030;
    --dark-brown: #4C3B22;
}
body {
    margin: 0 auto;
}


/* desktop */
/* font */
/* heading, button */
h1 {
    font-family: "Noto Serif", serif;
    color: #655030;
    font-size: 28pt;
}
/* subheading */
h2 {
    font-size: 24pt;
    font-family: 'Arimo', sans-serif;
    color: #655030;
}
/* paragraph */
p {
    font-family: 'Arimo', sans-serif;
    color: #655030;
}
.contents {
    /* margin: 0 240px; */
}


/* tablet */
@media screen and (max-width: 1024px) {
    .contents {
        /* margin: 0 32px; */
    }
    /* heading, button */
    h1 {
        font-size: 24pt;
    }
    /* subheading */
    h2 {
        font-size: 20pt;
    }
  }
/* mobile */
@media screen and (max-width: 768px) {
    .contents {
        /* margin: 0 16px; */
    }
    /* heading, button */
    h1 {
        font-size: 20pt;
    }
    /* subheading */
    h2 {
        font-size: 18pt;
    }
  }

.container {
    max-width: 1440px; 
    margin: 0 auto;
    height: auto; 
    /* padding: 20px;  */
}

