@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --mint: #CEDEDC;
    --cream: #FBF4EF;
    --pink: #F5CCD6;
    --dark-pink: #E3BBC5;
    --brown: #655030;
    --dark-brown: #4C3B22;
}

body {
    font-family: 'Arimo', sans-serif;
    margin: 0 auto;
}

.container {
    max-width: 1440px; 
    margin: 0 auto;
    height: auto; 
    /* padding: 20px;  */
}

